<div class='maker-list-window'>
  <h4>Maker List</h4>
  <div class='maker-list'>
  </div>
  <hr>
  <h4 style='margin-bottom:0px;'>Names</h4>
  <sup>Click to copy</sup>
  <div class="maker-list-names">
  </div>
  <hr>
  <div class='new-maker-div'>
  </div>
</div>
