<div class='name-list-window'>
  <h4>Maker List</h4>
  <div class='name-list'>
  </div>
  <hr>
  <h4>Names</h4>
  <br>
  <div class="name-list-names">
  </div>
  <hr>
  <div class='new-name-div'>
  </div>
</div>
