<div class='name-maker-delete-confirmation-window' style='width:240px'><center>
  Are you sure you want to delete<br><br><b>{{makerName}}</b>?<br><br>
  This cannot be undone.</center>
  <hr>
  <div class='name-maker-delete-confirmation-submit-div' style='text-align:center;height:32px'></div>
</div>