<div class='name-list-window'>
  <h4 style='font-family: "Modesto Condensed", "Palatino Linotype", serif; font-size:24px;'>Maker List</h4>
  <div class='name-list' style='height: 190px;px;overflow-y:scroll;width:100%;padding-left:8px;padding-right:8px;font-family: "Signika", sans-serif;font-weight:bold;'>
  </div>
  <hr>
  <h4 style='font-family: "Modesto Condensed", "Palatino Linotype", serif; font-size:24px;'>Names</h4>
  <br>
  <div class="name-list-names" style='text-align:center;column-count:3;height:32px;font-size:24px;color: #4b4a44;font-family: "Modesto Condensed", "Palatino Linotype", serif'>
  </div>
  <hr>
  <div class='new-name-div' style='height:32px;text-align:center;'>
  </div>
</div>
