<div class='name-maker-delete-confirmation-window'><center>
  Are you sure you want to delete<br><br><b>{{makerName}}</b>?<br><br>
  This cannot be undone.</center>
  <hr>
  <div class='name-maker-delete-confirmation-submit-div'></div>
</div>
