<div class='name-maker-window'>
  <label for="name-maker-name">Maker Name</label>
  <input type="field" id="name-maker-name" placeholder='Some Kind of Elvish'></field>
  <label for="name-maker-dictionary">Dictionary</label>
  <textarea id="name-maker-dictionary" rows="5" maxlength='1000000'></textarea>
  <label for="name-maker-delimiter">Delimiter</label>
  <input type="field" id="name-maker-delimiter" placeholder='for new lines use \n'></field>
  <hr>
  <div class='name-maker-submit-div'></div>
</div>
